.question {
	transition: all .2s ease-out;
	margin: 0;
}

.question * {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.question:hover {
	box-shadow: 0px 0px 1em #ccc;
	transform: scale(1.05);
}

.question-text {
	font-size: 1.5em;
	margin-bottom: .4em;
}

.question-stats p {
	margin: 0;
}
.question-stats p:first-child {
	font-size: 1.4em;
}

.question-author {
	margin: 0;
}

.question-date {
	font-size: 0.8em;
}
