/*
.orbit {
	height: 200px;
}
*/

.facebook-button {
	background-color: #3b5998;
}

.google-plus-button {
	background-color: #d34836;
}

.search-box-panel input[type="text"] {
	background-color: white;
	border: none;
	box-shadow: none;
	font-size: 150%;
	margin: 0;
}

.search-box-panel i {
	font-size: 150%;
}
