/* global styles */
body {
	background: #eee;
}

.panel {
	background: #fff;
}

/* navigation bar */
.feup-color-stripe {
	border-top: 0.4rem solid #8c2d19;
}

/* big search box */
/*
body .search-box {
	top: 300px;
}

body .search-box-panel {
	width: 650px;
	height: 100px;
	margin: 0;
}
*/
