.top-bar {
	height: 5rem;
	background-color: #cccccc;
	border-top: 1rem solid #8c2d19;
}

.title-area {
    position: fixed;
    top: 10px;
    right: 5px;
}

.top-bar .name>h1>a {
	font-family: "Times New Roman", Times, serif;
    font-style: italic;
	font-weight: 700;
    color: #8c2d19;
}

.top-bar-section .has-form {
	padding: 9px;
	background: none;
}


/* Search input box */
body > nav > section > ul.left > li > div > div.large-8.small-9.columns {
	width: 500px;
}

body > nav > section > ul.left > li > div > div.large-8.small-9.columns > input[type="text"] {
	border-radius: 20px;
	z-index: 2;
}

/* Search button */
body > nav > section > ul.left > li > div > div.large-4.small-3.columns {
	width: 100px;
	right: 20px;
}

body > nav > section > ul.left > li > div > div.large-4.small-3.columns > a {
	padding-left: 13px;
	border-radius: 20px;
}

.button.alert {
	background-color: #8c2d19;
}

/* Center text animation */
body .search-box {
	top: 300px;
}

body .search-box-panel {
	width: 650px;
	height: 100px;
	border: dashed;
	border-radius: 20px;
	background-color: #cccccc;
	margin: 0;
	color: #8c2d19;
}

body .row .search-box-panel input[type="text"]{
	color: inherit;
	width: 80%;
	height: 120%;
	background-color: rgba(204, 204, 204, 1);
	font-size: 150%;
	bottom: 5px;
	outline: none;
}

body .row .search-box-panel-icon {
	color: inherit;
	font-size: 70px;
	bottom: 25px;
	transform: scale(-1,1);
}

body .row .search-box-panel input:focus {
	border: none;
	box-shadow: none;
}

body .row .search-box-panel input::-webkit-input-placeholder {
   color: rgba(140, 45, 25, 0.4);
}

body .row .search-box-panel input:-moz-placeholder { /* Firefox 18- */
   color: #8c2d19;  
}

body .row .search-box-panel input::-moz-placeholder {  /* Firefox 19+ */
   color: #8c2d19;  
}

body .row .search-box-panel input:-ms-input-placeholder {  
   color: #8c2d19;  
}

/* Login box */
body .row .login-panel {
	background-color: #cccccc;
	color: #8c2d19;
	border: solid;
	border-radius: 20px;
}