.sign-up-intro {
	height: 30%;
	width: 40%;
	margin-left: 30%;
	margin-top: 20%;
	background-color: #cccccc;
	border-radius: 20px;
}

.centered {
	margin-left: 37.5%;
}

/*.create-account
{
	left: 25%;

}*/