/* global styles */
body {
	background: #eee;
}

.panel {
	background: #fff;
}

/* sign in page */
.facebook-button {
	background-color: #3b5998;
}

.google-plus-button {
	background-color: #d34836;
}

/*
.top-bar {
	border-top:0.4rem solid #8c2d19;
	padding: 5px 5px 5px 5px;
	background-color: #333;
}
*/

/* big search box */
/*
body .search-box {
	top: 300px;
}

body .search-box-panel {
	width: 650px;
	height: 100px;
	margin: 0;
}
*/

.search-box-panel input[type="text"] {
	/*width: 80%;
	height: 120%;
	*/
	background-color: white;
	border: none;
	box-shadow: none;
	font-size: 150%;
	margin: 0;
}

.search-box-panel i {
	font-size: 150%;
}
