"
<div class="row">
<div class="small-4 large-2 columns">
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-like"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><p class="score">2</p></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-dislike"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-check"></i></div>
    </div>
</div>
<div class="small-8 large-10 columns"><p class="answer-text">A Dª. Beatriz vende gomas?</p>

    <p class="text-right question-author"><a href="#" '=""> @botas</a></p>

    <p class="text-right question-date">2015-04-15 22:32:00</p></div>
<div class="small-10 columns comment"></div>
<hr><p>Também gostava de saber :)<a href="#"> @henrique</a></p>
<hr>
<div class="small-4 large-2 columns">
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-like"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><p class="score">-3</p></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-dislike"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-check"></i></div>
    </div>
</div>
<div class="small-8 large-10 columns"><p>Nao vende.</p>

    <p class="text-right question-author"><a href="#" '=""> @henrique</a></p>

    <p class="text-right question-date">2015-04-15 22:33:40</p></div>
<div class="small-10 columns comment"></div>
<hr class="dashed">
<div class="small-4 large-2 columns">
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-like"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><p class="score">0</p></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-dislike"></i></div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center"><i class="fi-check"></i></div>
    </div>
</div>
<div class="small-8 large-10 columns"><p>LOL. Vende sim. Abre das 9:00h ao 12:00h e das 13:30h às 19:00h</p>

    <p class="text-right question-author"><a href="#" '=""> @betao</a></p>

    <p class="text-right question-date">2015-04-15 22:34:10</p></div>
<div class="small-10 columns comment"></div>
<hr><p>o @henrique tem razão, mas acho que é às 19:30h que fecha.<a href="#"> @zoid</a></p>
<hr class="dashed">"